.loginPage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.imgBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;
}

.imgLogo  {
    width: 300px;
    top: 250px;
    right:300px;
    margin-top:80px;
    
}

.imgName {
    margin-top: 50px;
    width: 370px;
}
    

.titleBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 110px ;
}

.title {
    left: 330px;
    width: 433px;
    margin-bottom: 20px;
}

.btn {
    background-color:  rgba(66, 133, 244, 1);
    width: 433px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    margin-top:40px;
    position: relative;
}

.google {
    background-color: white;
    position: absolute;
    height: 49px;
    left:0;
    bottom: 1px;
    border-radius: 6px 0px 0px 6px ;
}

.description {
    width: 400px;
    font-size: 25px;
    text-align: left;
}


.foot p {
    color:rgba(145, 77, 139, 1);
    margin-top: 100px;
}

.foot p span {
    color:rgba(245, 13, 90, 1);
}