.containerTweets {
    display: flex;
    width: 100%;
    max-width: 590px;
    margin: 20px 470px;
    align-items: center;
    border-bottom: 1px solid rgba(96, 38, 91, 1);
}

.profilePhoto3 {
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 40px;
}

.boxTweets {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;
}


.infoTw {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    
}

.parrafo {
    max-width: 555px;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 10px;
}


.trash {
    cursor: pointer;
}

.like img {
    padding-right: 10px;
    cursor: pointer;
}

.heart {
    width: 35px;
}

.like span {
    color: rgba(245, 13, 90, 1);
}

.username {
    font-family: Silkscreen;
    font-size: 20px;
    margin-bottom: 7px;
    cursor: pointer;
}