

.userProfileBox {
    display: flex;
    width: 597px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 64px;
    
}

.arrow {
    width: 18px;
}

.nameSpan {
    margin-left: 10px;
    font-size: 17px;
    font-family: Silkscreen;
}

.imgBox, .logoutBox{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logoutBox {
    background-color: rgba(245, 13, 90, 1);
    width: 130px;
    height: 35px;
}

.logout {
    background-color: rgba(245, 13, 90, 1);
    margin-right: 10px;
}

.logoutIcon {
    background-color: rgba(245, 13, 90, 1);
}

.userBox {
    width: 100%;
    background-color:  rgba(21, 7, 20, 1);
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(96, 38, 91, 1);
}

.picProfile3 {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid yellow;
}

.name {
    background-color:  rgba(21, 7, 20, 1);
    font-family: Silkscreen;
    font-size: 25px;
    margin-bottom: 20px;
    background-color: yellow;
    color: black;
}

.myProfile {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-family: Silkscreen;
    width: 400px;
    font-size: 20px;    
    background-color: rgba(21, 7, 20, 1) ;
}


.post {    
    height: 40px;
    width: 130px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(46, 19, 44, 1);
}

.post:hover {
    background-color: rgb(90, 54, 88);
    transition: 1s;
}

.fav {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(46, 19, 44, 1);
}

.fav:hover {
    background-color: rgb(90, 54, 88);
    transition: 1s;
}

